
*{margin: 0px;
padding: 0px;
}


#anabaşlıq{
    background-color: black;
    color: rgb(241, 239, 239);
    margin: 0px;
    padding: 150;
    height: 45px;
    letter-spacing: 5px;
    text-align: center;
}
#ana-menu{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#ana-menu li{
    padding: 30px;
    display: inline-block;
    list-style: none;
    padding-right: 20px;
    font-weight: bold;
    
}

    


.button {
    height: 35px;
    width: 80px;
    background-color:#ceb491 ;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding border-radius: 0.25rem;
    
}



.div2{width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
#button2 {
     height: 45px;  
    width: 165px;
     margin-top: 35px;
    background-color: black;
    color: white; 
}
.underline{
    width: 10em;
    border-top: 1px solid black;
    margin: 0 auto;
    margin-bottom: 2em;
}

.services-item{
    display: flex;
    justify-content: center;
    
}

.baslikindex{
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}
.markalar{
    display: flex;
    margin-left: 3rem !important;
    padding: 20px auto;
    text-align: center;


}


.flex-column{
    flex-direction: column !important;
}
    
.BASLIK{
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}



.merkezsoz{
   text-align: center;
   font-size: 21px;
   font-weight: bold;
   margin: 10px;
}


